<div class="container-fluid pt-5">
  <div class="container-post mt-5 container">
    <div class="titolo d-flex justify-content-center mt-2">
      <h2>Anteprima Esercizio Moderato</h2>
    </div>
    <div class="mt-5 posts-container">
      <div *ngIf="posts.length > 0" class="post-container">
        <h5>Esercizio Moderato</h5>
        <div class="list-group">
          <div *ngFor="let post of posts" class="list-group-item">
            <div class="d-flex">
              <div>
                <div class="avatar-user d-flex justify-content-center align-items-center">
                  <h4>{{ getUserByPostId(post.id) ? getInitials(getUserByPostId(post.id)!.name) : '' }}</h4>
                </div>
              </div>
              <div class="post-content">
                <h4>{{ post.title }}</h4>
                <small>Pubblicato da: <a class="user-public">{{ getUserByPostId(post.id)?.username }}</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>