.container-post{
    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgb(231, 231, 231);
    .posts-container {
        border: 1px solid rgb(231, 231, 231);
        border-radius: 15px;
        padding: 2rem;

        .avatar-user {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: red;
            padding: 0.1rem;
            margin-right: 1rem;
            margin-top: 0.5rem;
            text-align: center;

            h4 {
                color: white;
                margin: 0;
            }
        }
        .post-content {
            h4{
                color: red;
            }
            small{
                font-size: 0.75rem;
            }
            .user-public {
                font-size: 0.75rem;
                color: red;
            }
        }
    }
}